body {
    min-height: 100vh;
    background-color:antiquewhite !important;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center !important;
    margin-top: auto;
    margin-bottom: auto
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.331);
    padding-top: 12px;
}

.quiz-card {
    width: 30rem;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}

.bg-success {
    color: white !important;
}

.end-screen-img {
    width: 50%;
}

.text-center {
    text-align: center;
}

.containerEndScreen {
    width: 450px;
    height: 550px;
    border-radius: 100%;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}